@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(http://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);


header{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: rgb(255, 255, 255);

}
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


#gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(270deg, #003366, #b27000, #06617d, #067370);
  background-size: 800% 800%;
  -webkit-animation: colors 70s ease infinite;
  -moz-animation: colors 70s ease infinite;
  animation: colors 70s ease infinite;
}

@-webkit-keyframes colors {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes colors {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes colors { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

h1{
    display: flex;
    justify-content: center;
    color: white;
    text-transform: uppercase

}

.weathercode {
	color:black;
}

.search-box{
    display: flex;
    justify-content: center;
    margin: 100px;
}
#weather_wrapper{
	width: 400px;
	margin: 100px auto;
}
.weatherCard{
    display: flex;

	width: 400px;
	height: 200px;
	font-family: 'Open Sans';
	position: relative;
}
.currentTemp{
	width: 200px;
	height: 200px;
	background: rgb(41, 41, 41);
	position: absolute;
	top: 0;
	left: 0;
}
.currentWeather{
	width: 200px;
	height: 200px;
	background: rgb(237, 237, 237);
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
}
.temp{
    
	font-size: 80px;
	text-align: center;
	display: block;
	font-weight: 300;
	color: rgb(255, 255, 255);
	padding: 20px 0 0;
}
.location{
    
	color: rgb(255, 255, 255);
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
}

.owf {
	display: flex;
	font-size: 15em;
	text-align: center;
	margin: 0 auto;


}
.conditions{
	font-family: weathericons;
	font-size: 80px;
	display: block;
	padding: 45px 0 0;
	text-align: center;
}
.info{
	width: 180px;
	height: 50px;
	position: absolute;
	bottom: 0;
	right: 0;
	background: rgb(42, 178, 234);
	font-weight: 700;
	color: rgb(255, 255, 255);
	text-align: center;
}
.rain {
	width: 50%;
	position: absolute;
	left: 10px;
	word-spacing: 60px;
	top: 3px;
}
.rain::before{
	display: block;
	content: '\f04e';
	font-family: weathericons;
	font-size: 40px;
	left: 6px;
	top: -4px;
	position: absolute;
}
.wind {
	width: 50%;
	right: -10px;
	position: absolute;
	word-spacing: 60px;
	top: 3px;
}
.wind::before{
	display: block;
	content: '\f050';
	font-family: weathericons;
	font-size: 25px;
	left: -10px;
	position: absolute;
	top: 5px;
}

.deezer-widget-player{

    display: flex;
    justify-content: center;
}



